/* -------------------------------------------------------------------------- */
/*                                   Spacing                                  */
/* -------------------------------------------------------------------------- */
.mt6 {
  margin-top: 0.6rem;
}
.mt10 {
  margin-top: 1rem;
}
.mt20 {
  margin-top: 2rem;
}
.mt40 {
  margin-top: 4rem;
}
.mt42 {
  margin-top: 4.2rem;
}
