body {
  background-color: light-dark(var(--white), var(--gray700));
  font-size: var(--fs, var(--font-xxs));
  color: light-dark(var(--secondary), var(--gray50));
}

/* .copy {
  p {
    --color: light-dark(red, blue);
  }
} */
.text-xxxs {
  --color: light-dark(var(--gray700), var(--gray50));

  color: var(--color);
  font-size: var(--fs, var(--font-xxxs));
  line-height: var(--lh, var(--lh-xs));
  letter-spacing: var(--ls, var(--ls-xs));
  font-weight: var(--fw, 400);
}

.text-xxs {
  /* color: light-dark(var(--color, var(--gray700)), var(--color, var(--gray50))); */
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-xxs));
  line-height: var(--lh, var(--lh-xs));
  letter-spacing: var(--ls, var(--ls-xs));
  font-weight: var(--fw, 400);
}
.text-xs {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-xs));
  line-height: var(--lh, var(--lh-xs));
  letter-spacing: var(--ls, var(--ls-xs));
  font-weight: var(--fw, 400);
}
.text-sm {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-sm));
  line-height: var(--lh, var(--lh-sm));
  letter-spacing: var(--ls, var(--ls-sm));
  font-weight: var(--fw, 400);
}
.text-base {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-base));
  line-height: var(--lh, var(--lh-base));
  letter-spacing: var(--ls, var(--ls-base));
  font-weight: var(--fw, 400);
}
.text-md {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-md));
  line-height: var(--lh, var(--lh-md));
  letter-spacing: var(--ls, var(--ls-md));
  font-weight: var(--fw, 400);
}
.text-lg {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-lg));
  line-height: var(--lh, var(--lh-lg));
  letter-spacing: var(--ls, var(--ls-lg));
  font-weight: var(--fw, 400);
}
.text-xl {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-xl));
  line-height: var(--lh, var(--lh-xl));
  letter-spacing: var(--ls, var(--ls-xl));
  font-weight: var(--fw, 400);
}
.text-xxl {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-xxl));
  line-height: var(--lh, var(--lh-xl));
  letter-spacing: var(--ls, var(--ls-xl));
  font-weight: var(--fw, 400);
}
.text-xxxl {
  --color: light-dark(var(--gray700), var(--gray50));
  color: var(--color);

  font-size: var(--fs, var(--font-xxxl));
  line-height: var(--lh, var(--lh-xl));
  letter-spacing: var(--ls, var(--ls-xl));
  font-weight: var(--fw, 400);
}

strong,
b {
  &[class*='text-'] {
    font-weight: var(--fw, 700);
  }
}

.link {
  text-decoration: underline 2px;
  text-decoration-color: red;
  text-underline-offset: 3px;
}
